<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指定到Dao类 -->
<mapper namespace="com.cr.modules.weibo.dao.RelationPathDao">

	<!-- 插入记录 -->
	<insert id="insertRelationPathBean" parameterType="com.cr.modules.weibo.model.RelationPathBean">
		<![CDATA[ 
			INSERT INTO tbl_relationPath
									(id,Centeruid,uid,xstart,ystart,xend,yend,name,noder,deep)
			VALUES
				(#{id},#{Centeruid},#{uid},#{xstart},#{ystart},#{xend},#{yend},#{name},#{noder},#{deep})
		]]>
	</insert>

	<!-- 查询记录是否存在 -->
	<select id="queryRelationPathBeanByBean" parameterType="com.cr.modules.weibo.model.RelationPathBean" resultType="int">
		<![CDATA[ 
			SELECT count(*) FROM tbl_relationPath
			where   Centeruid=#{Centeruid} 
				AND
					uid=#{uid} 
				AND
					xstart=#{xstart} 
				AND
					ystart=#{ystart} 
				AND
					xend=#{xend} 
				AND
					yend=#{yend} 
				AND
					noder=#{noder} 
				AND 
					deep=#{deep} 
		]]>
	</select>
	
	<resultMap id="relation_model" type="com.cr.modules.weibo.model.RelationPathBean">
		<id column="id" property="id"/>
		<result column="Centeruid" property="Centeruid"/>
		<result column="uid" property="uid"/>
		<result column="xstart" property="xstart"/>
		<result column="ystart" property="ystart"/>
		
		<result column="xend" property="xend"/>
		<result column="yend" property="yend"/>
		<result column="name" property="name"/>
		<result column="noder" property="noder"/>
		<result column="deep" property="deep"/>
	</resultMap>
	
	<!-- 查出 Centeruid为某个的 所有数据 -->
	<select id="queryRelationPathsByCenterUid" parameterType="String" resultMap="relation_model">
		<![CDATA[
			SELECT * FROM tbl_relationPath where Centeruid=#{Centeruid}
		]]>
	</select>
	
</mapper>