<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	 <!--请求参数配置，默认为action-->
    <bean id="parameterMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
    	<property name="paramName" value="opt"/>
    	<!-- 映射方法名称  全局的-->
    	<property name="logicalMappings">
    		<props>
    			<prop key="s001">sampleDisplay</prop> 
    			<prop key="r1">userRelationshipDisplay</prop>
    			
    		</props>
    	</property>
    </bean>
</beans>